/* font-family: 'PT Sans Narrow', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

/* Colors */
:root {

--background: #D7F8FD;
--annoucement: #bbe9f07b;
--navbar: #ffffffb8; 
/* Navbar cuando no hay posicionamiento debe hacerse transparente al 50% */
--text: #000;   
--text1: #FFFFFF;
--button: #C0C0C0;
--button-checkout: #6F6F6F;
/* La card con la descripcion del producto debe ser transparente al 41%*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'PT Sans Narrow';
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background: var(--navbar);
    position: fixed;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    text-transform: uppercase;
}

.navbar {
    display: flex;
}

.navbar i {
    font-size: 25px;
    display: none;
}

#toggle-menu{
    display: none;
 }

 .navbar-link {
    text-decoration: none;
    color: var(--text);
    font-size: 16px;
 }
 
 .logo {
    width: 85px;
 }

 #cart-toggle {
    display: none;
 }

  #hero {
    background-size: fill;
    text-align: center;
    padding: 0px;
    color: #fff;
    max-width: 1280px;
  }

  .container img {
    height: 520px;
    padding: 0px;
    width: 1280px;
  }
  



  
